.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 0px;
  }
  
  h4 {
    font-size: 72px;
    margin-top: -50px;
  /*   margin-bottom: 20px; */
    
  }
  
  h6 {
    font-style: italic;
  }
  ul {
  /*     text-align: center; */
      list-style-position: inside;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  /*   font-style: italic; */
    font-size: 16px;
  }
  
  .quote {
    font-style: italic;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    padding-top: 30px;
  }
  
  .detail {
    padding-top: 20px;
    font-style: italic;
    font-weight: 18px;
    text-align: center;
  }
  .info {
    text-align: center;
  }
  .footer {
  /*   position: fixed; */
  /*   bottom: 0; */
  /*   left: 0; */
    text-align: center;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 0px;
  }
  
  .jumbotron {
    padding-bottom: 3px;
  }